* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Nav Bar Design */
nav {
    height: 80px;
    background: #cda607;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);

}

.logo {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

/* Nav Items */
nav a {
   text-decoration: none;
   color: #000;
    padding: 0 1.5rem;
}

nav a:hover {
    color: #fff;
}

.content {
    background: #fdcc04;
}

.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    padding: 0rem 2rem;
}


.column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

button {
    padding: 0.5rem 3rem;
    font-size: 1rem;
    border: none;
    color: #fdcc04;
    background: #000;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 20px;
}

/* Changes button color when hovered on */
button:hover {
    background: #fff;
    color: #000;
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}

.book-image {
    width: 50%;
    height: 50%;
}


#website {
    color: rgb(226, 211, 8)
}


/* Changes size of items */
@media screen and (max-width: 768px) {
    .hero-container {
        grid-template-columns: 1fr;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

#search-container {
    text-align: center;
    margin-bottom: 20px;
}

#search-input {
    padding: 8px;
    width: 300px;
}

#books-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

.book img {
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.book-title {
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.button-search:hover {
    background-color: #e2e58c
}

#trending-books-container {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px 0;
    -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
}

#trending-books-container .book {
    flex: 0 0 auto;
    width: 200px;
}


.logo:hover {
    color: #ced27f
}

.github {
    width: 100%;
    height: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 600px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-description {
    margin-top: 20px;
    overflow-y: auto;
    max-height: 300px;
}

.book p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ourpicks-error {
    text-align: center;

}

.our-picks-container {
    display: flex; /* Use flexbox */
    flex-wrap: nowrap; /* Prevent wrapping to a new line */
    overflow-x: auto; /* Enable horizontal scrolling */
    gap: 10px; /* Spacing between books */
    padding: 10px 0; /* Adjust as needed */
}



.our-picks-books {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Display books in a column */
    gap: 10px; /* Spacing between books */
    padding-left: 20px; /* Adjust as needed */
    padding-top: 1px;
}



/* Individual book style */
.book {
    /* Your book styles */
    width: 200px; /* Set a fixed width for each book */
}